#redbackgrounddiv{
   position: fixed;
   top:50px;
   right: 50%;
   background-color: red;
}
#bluebackgrounddiv{
   position: fixed;
   top:75px;
   right: 50%;
   background-color: blue;
}
#greenbackgrounddiv{
   position: fixed;
   top:100px;
   right: 45%;
   background-color: green;
}
#yellowbackgrounddiv{
   position: fixed;
   top:125px;
   right: 50%;
   background-color: yellow;
}
#pinkbackgrounddiv{
   position: fixed;
   top:150px;
   right: 50%;
   background-color: pink;
}