#redbackgrounddiv{
   position: absolute;
   top:50px;
   right: 500px;
   background-color: red;
   z-index: 1
}
#bluebackgrounddiv{
   position: absolute;
   top:50px;
   right: 550px;
   background-color: blue;
   z-index: 0;
}
#greenbackgrounddiv{
   position: absolute;
   top:100px;
   right: 45%;
   background-color: green;
}
#yellowbackgrounddiv{
   position: absolute;
   top:100px;
   right: 50%;
   background-color: yellow;
}
#pinkbackgrounddiv{
   position: absolute;
   top:100px;
   right: 50%;
   background-color: pink;
}